<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.aslan.baselibrary">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <!--SD读写权限-->
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <!--Android 10 允许应用程序以SAF（Storage Access Framework）方式管理外部存储，包括访问所有文件-->
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <!--android 13-->
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

  <application
    android:allowBackup="true"
    android:networkSecurityConfig="@xml/network_security_config"
    android:requestLegacyExternalStorage="true"
    android:screenOrientation="portrait"
    android:supportsRtl="true"
    android:usesCleartextTraffic="true">
    <receiver
      android:name=".widget.DownloadCompleteReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
        <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
      </intent-filter>
    </receiver>

    <activity
      android:name=".base.ActivityFragmentContainer"
      android:screenOrientation="portrait" />
  </application>
</manifest>
